@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    border: 1px solid purple;
    overflow: hidden;
}

  .container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }

  section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
  }

  h1{
    color: #ffffff;
    text-shadow: 1px 1px 4px #000;
  }

  .one{
    background-color: rgb(255, 150, 223);
  }
  
  .two{
    background-color: rgb(169, 238, 243);
  }
  .three{
    background-color: rgb(196, 255, 162);
  }
  .four{
    background-color: rgb(253, 255, 159);
  }