@font-face {
  font-family: 'Mona Sans';
  src:
    url('/assets/font/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/assets/font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-family: 'Mona Sans';
    scroll-behavior: smooth;
}

body{
    overflow: hidden;
}

  .container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }

  section{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    scroll-snap-align: center;
  }

  h1{
    color: #ffffff;
    text-shadow: 1px 1px 4px #000;
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
  }

  
  
  /* pages */

  .one{
    background-image: url("/assets/img/girls2.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .header{
    background: rgb(46,5,70);
    background: linear-gradient(180deg, rgba(46,5,70,1) 0%, rgba(157,5,177,0.6671043417366946) 53%, rgba(255,255,255,0) 100%);
    color: white;
    width: 100vw;
    padding: 2rem;
    height: 11rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .tags{
    /*background-color: pink;*/
  }
  
  
  
  
  /* pages */
  
  .one{
    background-image: url("/assets/img/girls2.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .two{
    background-image: url("/assets/img/gigi2.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .three{
    background-image: url("/assets/img/winter2.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .four{
    background-image: url("/assets/img/karina1.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .five{
    background-image: url("/assets/img/nigning1.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }