@import url('https://fonts.cdnfonts.com/css/the-historical-marliana');
                
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'THE HISTORICAL MARLIANA', sans-serif;
}

body{
    scroll-behavior: smooth;
    overflow: hidden;
}

  .container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }

  section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    scroll-snap-align: center;
    color: #fff;
    position: relative;
  }

  h1{
    color: #e3dbd5;
    text-shadow: 1px 1px 4px #000;
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
    width: fit-content;
    margin: 0;
    padding-left: 2rem;
    margin-top: 5rem;
  }

  p{
  color: #e4ddd7;
  font-weight: 500;
  font-size: 1.3rem;
  margin-top: 1rem;
  width: 32rem;
  padding-left: 2rem;
  }

   .background{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top, rgba(133, 25, 162, 0), #13092E);;
    position: absolute;
  }

  header{
    color: white;
    width: 100vw;
    padding: 2rem;
    height: 11rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: flex-start;
    top: 0;
    position: fixed;
    z-index: 1;
  }

  .tags{
  display: flex;
  width: 50vw;
  height: 2rem;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 500;
  color: #e3dcd6;
  }
  
  /* dropdown */
  .dropdown{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .dropdown img{
    width: 20px;
  }

  .dropdown-content{
    display: none;
    position: absolute;
    width: 200px;
    padding: 1rem;
    margin: 1rem;
    z-index: 1;
    justify-content: center;    
  }

  .dropdown:hover .dropdown-content {
    display: grid;
  }

  .dropdown-content a{
    text-decoration: none;
    cursor: pointer;
    margin: 0.5rem;
    user-select: none;
  }


  /* background */
  .background #home,
  .background #karina,
  .background #winter,
  .background #giselle,
  .background #ning 
  {
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
   
  #home{
    background-image: url("/assets/img/mamba/aegirls.jpg");
  }

  #karina{
    background-image: url("/assets/img/mamba/karina1.jpg");
  }

  #winter{
    background-image: url("/assets/img/mamba/winter.jpg");
  }

  #giselle{
    background-image: url("/assets/img/mamba/giselle.jpg");
  }
  
  #ning{
    background-image: url("/assets/img/mamba/ning.jpg");
  }